body {
     padding-top: 5rem;
}
 .domvs {
     padding: 3rem 1.5rem;
     text-align: center;
}
 .font-roboto{
     font-family:Roboto,sans-serif;
}
 .font-cabin{
     font-family:Cabin,sans-serif;
     font-size: 1.125rem;
}
 .font-muli{
     font-family:Muli,sans-serif;
     font-size: 16px;
}
 .font-cabin-bold{
     font-family:Cabin,sans-serif;
     font-weight: 700;
     font-size: 3rem;
}
 .font-muli-bold{
     font-family:Muli,sans-serif;
	 font-weight: 700;
}
.cgray{
     color: #5c5c5c;
}
.cgray2{
     color: #30353e;
}
 footer {
     width: 100%;
     background-color: #343a40;
}
